[run]
branch = True

source = vcm, tests, ./

omit =
    vcm/_version.py
    .venv/*
    setup.py
    versioneer.py
    launcher.py

[report]
exclude_lines =
    if __name__ == .__main__.:
    if __name__ == "__main__":
    pragma: no cover
